
body, html {
    height: 100%;
    margin: 0;
    /* font-family: 'Assistant', sans-serif; */
    font-family: 'Titillium Web', sans-serif !important;
    color: #777;
    background-color:#005768 !important;
    /* background-color:#000 !important; */
  }

  #output2 {
    position : fixed;
    top      : 0;
    right    : 0;
    height   : 200px;
    width    : 200px;
    overflow : hidden;
    border:1px solid yellow;
    color:#fff;
    z-index:1;
  }

  #output {
    position : fixed;
    top      : 30%;
    right    : 1%;
    width    : 30px;
    overflow : hidden;
    color:#fff;
    z-index:0;
  }

  .social-section{
      width:100%;
      height:50px;
  }


  .social-list{
    list-style: none;
    padding:13px;
    text-align:right;
  }
  .social-list li{
    display: inline;
    padding:10px;
  }
  .social-list li a{
    color:#fff;
    font-size:1.5em;
  }

  .company-slogan{
      font-size:30px;
      margin:1em auto;
      width:70%;
      line-height:1.5em;
      text-shadow: 2px 2px 2px black;
  }

  .section-indicator{
    list-style: none;
    padding-left:0px;
  }

  .section-indicator .fa{
    font-size:20px;
    margin-bottom:15px;
    color:#000;
  }

  h3.text-center{
      text-align:center;
      font-size:50px;
  }

  .first{
    font-weight:bold;
    font-size:75px;
    color:#fff;
    display:inline;
  }
  .last{
    font-weight:bold;
    font-size:40px;
    color:#fff;
    display: block;
    margin-top:-40px;
  }

  .myname {
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size:10px;
  }
  
  .myname .myphoto img{
    width:300px;;

  }
  .learn-more{
    margin-top:10%;
  }
  .learn-more a {
    background-color: rgba(33, 33, 33, 0.61);
    border:1px solid #fff;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    letter-spacing: 6px;
  }
  .learn-more a:hover,
  .social-list a:hover{
    text-decoration:none;
    color:#fff;
  }

  .learn-more::after{
    content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #fff;
    font-size: 18px;
    padding-right: 0.5em;
    position: relative;
    top: 29px;
    left: -90px;;
  }
  .content-area-divider{
    height:70px;
    background-color:#282E34;
  }
  .content-area-divider::after{
    content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #fff;
    font-size: 200px;
    padding-right: 0.5em;
    position: relative;
    bottom:143px;
    margin:auto;
    z-index:1;
  }

  .bgimg-1, .bgimg-2 {
    position: relative;
    background-attachment: fixed;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hard-light;
  }
  .bgimg-1 {
    background-image: url(../img/hiking-background.jpg);
    min-height: 100%;
  }

  

  .bgimg-2 {
    background-image: url(../img/contact-bg.jpg);
    min-height: 100%;
    color:#fff;
    position:relative;
    background-color:#282E34;
    padding:100px 50px;
  }

  #content-area4{
    background-color:#111;
    color:#fff;
    padding:3% 5% 10% 5%;
    text-align:center;
  }

  .content-area-1{
        color: #777;
        background-color:white;
        text-align:center;
        padding:60px;
  }
  #content-area1-1{
    padding:80px 80px 60px 80px;
  }

.content-area-2{
  color:#fff;
    position:relative;
    background-color:#282E34;
    padding:50px 80px;
}

.content-area-3{
    color:#282e34;
    position:relative;
    background-color:#fff;
    padding:5px 80px;
}
.content-area{
  color:#fff;
    position:relative;
    background-color:#282E34;
    padding:10px 80px;
    border-bottom:10px solid #005768;
}

  .caption {
    position: absolute;
    left: 0;
    top: 90%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size:10px;
  }
  
  .caption span.border {
    background-color: rgb(218, 82, 82);
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
  /* .caption::after {
    content: "\25BC"; 
  } */

  .arrow-down{
    width:0px;
    height:0px;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    border-top:10px solid rgb(255, 255, 255);
  }

  .arrow-down2{
    width:0px;
    height:0px;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    border-top:8px solid rgb(255, 255, 255);
    position:relative;
    top:11px;
  }

  .arrow-down3::after {
    content: "\25BC";
    display:inline-block;
    color:#fff; 
  } 

  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }


  .three-cards{
    padding-top:20px;
  }
  .introduction-text{
    padding:0% 5%;
    font-size:18px;
    text-align: center;
  }

  .experience-row{
    margin-top:50px;
    padding-bottom:40px;
  }

  .experience-row.border{
    border-bottom:1px solid #b0b6bb;
  }

  h4.card-title{
    margin-top:30px;
  }
  p.card-text{
      font-size:16px;
  }
  .card{
      margin-bottom:15px;
      border:1px solid transparent !important;
  }


  .airplane-asset{
    width:190px;
    position: relative;
    top:0px;
  }

  .car-asset{
    width:110px;
    position: relative;
    top:300px;
  }

  .cwu-asset{
    width:300px;
    position: relative;
    top:-90px;
  }
  .cwu-logo{
    text-align: center;
    width:100%;
    padding:1% 3% 0% 3%;
    top:-50px;
    position:relative;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-top: 100px solid #fff;
  }
  .cwu-dots{
    width: 60%;
    text-align: justify;
    margin: auto;
  }

  .degree-row{
    margin-top:10px;
    color:#fff;
  }
  .divided-card{
    text-align:center;
    padding:50px 10px;
    background-color:#ffffffa8 !important;
    border-bottom:1px solid #626262 !important;
  }
  .divided-card h4{
    margin-top:10px;
  }
  .cwu-seal{
    text-align:center;
    width:200px;
  }
  
  .contact-information{
    text-align:center;
  }
  .contact-information .fa{
    font-size:40px;
    color:#005768;
  }

  .contact-information .contact-value{
    font-size:13px;
    line-height:17px;
    font-weight:600;
  }

  .contact-information .contact-value a{
    text-decoration: none;
    color:#fff;
  }
  .contact-information .contact-label{
    font-size:12px;
    line-height:0px;
    font-style: italic;
    margin-top:-10px;
  }

  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1024px) {
      .bgimg-1, .bgimg-2{
          background-attachment: scroll;
      }
  }


  @media (max-width:641px)  { 
    .airplane-asset,
    .car-asset{
      display:none;
    }
    .content-area-2,
    .content-area-3{
      padding:40px 40px !important;
    }
    #apps{
      width:30%;
    }
    .cwu-logo{
      border-top: 80px solid #fff;
    }
    .cwu-asset{
      width:100%;
      top:-40px;
    }
    .cwu-dots{
      width: 100%;
    }
  }
  .social-list .fa.fa-newspaper-o{
    font-size:23px;
  }

  .btn-success.btn-send{
      background-color:#01596b;
      border-color:#b6b8ba;
      cursor: pointer;
  }
  .btn-success.btn-send:hover{
    background-color:#067990;
    border-color:#282e34;
  }
  @media (max-width:768px)  {
    .fa-calendar.airplane-asset,
    .fa-calendar.car-asset{
        display: none;
    }

  }
  @media (max-width:414px)  {
    #content-area2 .card-block img{
      width:35% !important;
    }
    /* .bgimg-1 {
      background-image: url(../img/hiking-background-mobile.jpg) !important;
      min-height: 100%;
    } */
    .bgimg-1{
      padding-bottom:100px !important;
    }
    .social-list .fa.fa-newspaper-o{
      font-size:15px;
    }

    .titleBar{
      padding:30px !important;
    }
    .titleBar h1{
      font-size:16px !important;
    }
    .slider > ul{
      left:170px !important;
      width:70% !important;
    }
    .slider > ul > li{
      width: 12px !important;
      height: 12px !important;
    }
    #content-area1-1{
      padding:40px;
    }
    .myname{
      top:18%;
    }
    .social-list li a{
        font-size:12px;
    }
    .social-list li{
      padding:3px;
    }
    .myname .myphoto img{
        width:200px;
    }
    .company-slogan{
        font-size:20px;
    }
    .learn-more{
        margin-top:54%;
        margin-left:3%;
    }
    h3.text-center{
        font-size:30px;
    }
    .content-area-1{
        padding:60px 20px 80px 20px;
    }
    .fa-calendar.airplane-asset,
    .fa-calendar.car-asset{
        display: none;
    }

    #content-area4 input[type="file"]{
      width:100%;
    }

    .news-item{
      font-size:16px !important;
    }

    .requirements-box{
      right:19% !important;
      position:absolute !important;
      margin:auto !important;
      margin-bottom:50px !important;
      bottom:150px !important;
    }
  }

  @media (max-width:375px)  {
    .requirements-box{
      right:18% !important;
      position:absolute !important;
      margin:auto !important;
      margin-bottom:50px !important;
      bottom:18px !important;
    }
  }

  @media (max-width:320px)  {
    .company-slogan{
      font-size:17px;
    }
    .learn-more{
      margin-top:64%;
    }
    .requirements-box{
      right:12% !important;
      position:absolute !important;
      margin:auto !important;
      margin-bottom:50px !important;
      bottom:15px !important;
    }
  }

  h5.card-title{
    margin-top:10px;
    color:#fff;
  }

  .tooltip-inner{
    background-color:#ffb300 !important;
    color:#000 !important;
  }
  .bs-tooltip-auto[x-placement^=bottom] .arrow::before, 
  .bs-tooltip-bottom .arrow::before{
    border-bottom-color:#ffb300 !important;
  }

  .tooltip-inner a{
    color:#000;
  }


  * {
    box-sizing: border-box;
  }
  

  #content-area4 h4 {
    margin-top:15px;
  }
  #content-area4 li {
    height: 100%;
    width: 17em;
    list-style: none;
    display: inline-block;
    margin: .5em;
  }
  
  #content-area4 img {
    width: inherit;
    border: .2em solid white;
    animation: pop .5s;
  }
  
  @keyframes pop {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: none;
      opacity: 1;
    }
  }
  #content-area4 input[type="file"] {
    font-size:1.5em;
    background-color:#fff;
    color:#000;
    border-radius: 0 !important;
  }





.glyphicon
{
    margin-right:4px !important; /*override*/
}

.pagination .glyphicon
{
    margin-right:0px !important; /*override*/
}

.pagination a
{
    color:#555;
}

.panel ul
{
    padding:0px;
    margin:0px;
    list-style:none;
}

.news-item
{
    font-size:30px;
    padding:8px 4px;
    margin:0px;
    border-bottom:1px dotted #555; 
}

ul.news-demo-down-auto{
  height:215px !important;
  width:80% !important;
  margin:0 auto !important;
}

.dropdown-menu{
  background-color:#005c71 !important;
  border-radius:0px !important;
  text-align:right !important;
}
.dropdown-menu li{
  display: block;
}
.dropdown-menu li a{
  font-size: 14px !important;
}

.requirements-box{
  width:250px;
  height:160px;
  background-color:#006177;
  color:#fff;
  position:absolute;
  right:5%;
  top:12%;
  padding:10px;
  border:1px solid #fff;
  -webkit-box-shadow: 0px 0px 2px 1px rgb(255, 255, 255);
  -moz-box-shadow: 0px 0px 2px 1px rgb(255, 255, 255);
  box-shadow: 0px 0px 2px 1px rgb(255, 255, 255);
}
.requirements-box h4{
  text-align: center;
  text-decoration: underline;
}
ol.req-list a{
 text-decoration: none;
 color:#fff;
}